---
import { Button } from "@/components/ui/button";
import { features } from "@/config/landing";
import { Icon } from "astro-icon/components";
import HeaderSection from "./header-section.astro";
---

<section class="mb-32">
  <div class="pb-6 pt-28">
    <div class="container max-w-6xl">
      <HeaderSection
        label="نمونه وب سایت های اخیر"
        title=""
        subtitle=""
      />

      <div class="mt-12 grid gap-3 sm:grid-cols-2 lg:grid-cols-3">
        {
          features.map((feature) => (
            <div class="group relative overflow-hidden rounded-2xl border bg-background p-5 md:p-8 md:pt-2">


                <p class="mt-6 pb-6 text-muted-foreground">
                  {feature.description}
                </p>
                <img class=" rounded-md overflow-hidden" src={feature.img} alt="" srcset="">

                <div class="-mb-5 flex gap-3 border-t border-muted py-4 md:-mb-7">
                  <Button
                    variant="secondary"
                    size="sm"
                    rounded="xl"
                    className="px-4"
                  >
                    <a href="/" class="flex items-center gap-2">
                      <span>Visit the site</span>
                      <Icon name="lucide:arrow-up-right" class="size-4" />
                    </a>
                  </Button>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
